package view

import "os"

var scrapperMenu = []string{"all", "stripe", "netflix", "uber"}

templ header(title string) {
	<head>
		<title>{ title }</title>
		<meta charset="UTF-8"/>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🕸️</text></svg>"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; img-src https://*; child-src 'none';"/>
		if os.Getenv("env") == "production" {
			<link rel="stylesheet" href="static/css/style.min.css"/>
		} else {
			<link rel="stylesheet" href="static/css/style.css"/>
		}
		<script src="static/script/click.js"></script>
		<script src="static/script/htmx.min.js"></script>
	</head>
}

templ nav(currentScrapper string) {
	<nav class="bg-slate-800 flex flex-col items-center justify-center pt-6 pb-4">
		<h1 class="max-w-fit mb-5 text-[24px] font-light tracking-wide text-slate-300">🕸️ Tech Blog Scrapper 🕸️</h1>
		<div
			id="scrapper-menu"
			class="flex  items-center justify-center gap-x-2"
		>
			for _, menu := range scrapperMenu {
				if menu != currentScrapper {
					<button
						hx-get={ "/scrapper/" + menu }
						hx-trigger="click"
						onclick="htmx.trigger('#request-button', 'htmx:abort')"
						hx-target=".scrapper-result"
						hx-indicator="#app-layout"
						hx-sync="~:drop"
						class="text-gray-300 px-4 py-[2px] rounded-md capitalize border-[1.5px] border-transparent transition-all duration-300"
					>{ menu }</button>
				} else {
					<button
						hx-sync="button:drop"
						class="text-gray-300  px-4 py-[2px] rounded-md capitalize  border-[1.5px] border-transparent transition-all duration-300"
					>{ menu }</button>
				}
			}
		</div>
		<hr class="w-[20%] h-[1px] my-2 bg-slate-600 border-none"/>
		<div class="flex items-center justify-center gap-x-2">
			<input type="checkbox" name="headless" id="headless-scrapping" class="appearance-none p-[6px] !outline-none !border-none duration-200 transition-colors hover:bg-emerald-400/70 checked:bg-emerald-400 focus-within:checked:bg-emerald-400/70 focus:scale-100 checked:hover:bg-emerald-400/70" checked/>
			<label for="headless-scrapping" class="text-[14px] font-light text-gray-300/90 select-none">
				Headless Browser
			</label>
		</div>
	</nav>
}

templ footer() {
	<footer class="flex items-center justify-center bg-slate-800 py-2 text-slate-500 font-extralight hidden">by Manish Mandal</footer>
}

templ LayoutComponent(path string) {
	@header("Tech Blog Scrapper")
	<body class="flex flex-col h-screen w-screen">
		@nav(path)
		<main class="pt-10 flex items-start justify-center h-full overflow-x-hidden px-6 py-4 htmx-indicator" id="app-layout">
			// loading spinner
			<div id="spinner" class="flex spinner items-center justify-center ml-4">
				<svg class="animate-spin" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="#1e293b" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M21 12a9 9 0 1 1-6.219-8.56"></path></svg>
				<span class="ml-2 text-[18px] text-slate-700/80 ">Scrapping...</span>
			</div>
			<div class="scrapper-result">
				<div class="ml-6 text-slate-700/80 text-[18px]">
					👆 Select a blog to scrape
				</div>
			</div>
		</main>
		@footer()
	</body>
}
